USE [master]
GO
/****** Object:  Database [dbo.ToDo]    Script Date: 21.09.2019 16:47:02 ******/
CREATE DATABASE [dbo.ToDo]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'dbo.ToDo', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\dbo.ToDo.mdf' , SIZE = 4288KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'dbo.ToDo_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\dbo.ToDo_log.ldf' , SIZE = 1072KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [dbo.ToDo].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [dbo.ToDo]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 21.09.2019 16:47:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[V_Todo]    Script Date: 21.09.2019 16:47:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[V_Todo](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](max) NULL,
	[Description] [nvarchar](max) NULL,
	[IsDone] [bit] NOT NULL,
	[Date] [datetime] NOT NULL,
	[Time] [time](7) NOT NULL,
	[status] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.V_Todo] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[V_Todo] ON 

INSERT [dbo].[V_Todo] ([Id], [Title], [Description], [IsDone], [Date], [Time], [status]) VALUES (1007, N'Kitap Okuma', N'Bugün 10 sayfa kitap okunacak', 0, CAST(N'2019-09-22 00:00:00.000' AS DateTime), CAST(N'13:15:00' AS Time), 1)
INSERT [dbo].[V_Todo] ([Id], [Title], [Description], [IsDone], [Date], [Time], [status]) VALUES (1008, N'Bisiklet sürme', N'25 dakika bisiklet sürüleceke', 0, CAST(N'2019-09-03 00:00:00.000' AS DateTime), CAST(N'05:09:00' AS Time), 1)
INSERT [dbo].[V_Todo] ([Id], [Title], [Description], [IsDone], [Date], [Time], [status]) VALUES (1009, N'Deneme Çöz', N'5 adet deneme çözülecek', 1, CAST(N'2019-09-21 00:00:00.000' AS DateTime), CAST(N'16:30:00' AS Time), 1)
SET IDENTITY_INSERT [dbo].[V_Todo] OFF
USE [master]
GO
